.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: $cl_txt-button;
    &__goback {
        width: 33%;
        padding-left: 23px;
        &--displayoff {
            display: none;
        }
        &--displayon {
            cursor: pointer;
        }
        
    }
}