
@keyframes spinner {
    0% {
      transform: rotate(0);
    }
  
    10% {
      transform: rotate(0);
    }
  
    90% {
      transform: rotate(1turn);
    }
  
    100% {
      transform:rotate(1turn);

    }
  }

  $ht:375px;
  .spin {

    &__on {    
        position: relative;
        display: flex;
        justify-content: center;
        
        &--ext , &--int{
            animation: spinner 2s ease-in-out;      
            position: absolute;
            transform-origin: center;
            z-index: -1;
            & > img {
                width: $ht;
                height: $ht;
            } 
        }

        &--ext{
            animation-direction: reverse;
        }

    }
  }


@keyframes mainOff {
    89%{
        transform: scaleX(1);
    }
    90% {
        opacity: 0;
        transform: scaleX(1);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}
.spin__off{
    animation: mainOff 1s 2s ease-in-out forwards;
    transform: scaleX(0);
    opacity: 0;
}


.location{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: auto;
    background-color: $cl_bkg-txt_location;

    &__icon{
        margin-right: 17px ;
    }
}

.purpose{
    display: grid;
    justify-items: center;
    background-color: $cl_bg-purpose;

    &__title{
        margin: 39px 50px 0px 50px;
        text-align: center;
        height: 68px;
    }

    &__txt{
        margin-bottom: 30px;
        text-align: center;
    }

    &__button{
        margin-bottom: 57px;
        @include ds_button;
    }

}

.how {
    display:flex;
    flex-direction: column;
    gap: 25px;
    padding:48px 19px;
    background-color: $cl_txt-button;
    @media (min-width: 1440px){
        padding-left: 180px;
    }

    &__box{
        
        display: flex;
        flex-direction: column;
        gap:25px;
        align-items: center;
        @media (min-width: 1440px){
            flex-direction: row;
        }

        &Step{
            position: relative;
            display: flex;
            align-items: center;
            background-color: $cl_bg-purpose;
            box-shadow: $shadows-light;
            border-radius: 20px;
            height: 72.38px;
            margin-left: 12px;
            width: 325px;

            &Index{
                position: absolute;
                left: -12px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $clr-purple;
                height: 24px;
                width: 24px;
                border-radius: 12px;
                color: $cl_txt-button;
            }

            &Icon{
                position: relative;
                top: -3px;
                padding-left: 32px;
            }

            &Txt{
                margin-left: 27px;
            }
        }
    }
}

.restaurant {
    padding:48px 19px;
    background-color: $cl_bg-purpose;
    @media (min-width: 1439px){
        padding:30px 180px;
    }

    &__title{
        margin-bottom: 25px;
    }
    &__box{
        display: grid;
        row-gap: 18px;
        justify-content: center;
        @media (min-width: 1439px){
            grid-template-columns: 1fr 1fr;
            row-gap: 50px;
            column-gap: 100px;
        }

        &Shop{
            display: grid;
            grid-template-columns: repeat(2,minmax(auto,245px));
            grid-auto-rows: minmax(77px,auto);
            grid-template-areas: "img img"
                                 "txt like";
            position: relative;
            &Img{
                grid-area: img;
                width: 100%;
                height: 174px;
                object-fit: cover;
                border-radius:15px 15px 0px 0px;
                &--pos1 {
                    object-position: 0 100%;   
                }
                &--pos2 {
                    object-position: 0 60%;   
                }
            }
            &Newtxt{
                position: absolute;
                right: 12px;
                top: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $clr-green;
                background-color: $clr-waterGreen;
                width: 80px;
                height: 29px;
                border-radius: 2px;
            }
            &Txt{
                grid-area: txt;
                display:grid;
                background-color: $cl_txt-button;
                row-gap: 5px;
                border-bottom-left-radius: 15px;
                padding-left: 13px;
                &Title{
                    align-self:end ;
                }
            }
            &Like{
                grid-area: like;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 13px;
                border-bottom-right-radius: 15px; 
                background-color: $cl_txt-button;
                &Off{
                    @include ds_like;
                }

            }
        }
    }
}