@keyframes open-page {
    0%{
        transform: scaleX(0);
    }

    100%{
        transform: scaleX(1); 
    }
}

.anm{
    @for $i from 1 to 4 {
         &--#{$i} {
             transform:scaleX(0);
             animation: open-page forwards;
             @if $i != 1 {
                 animation-duration: 800ms / $i;
                 animation-delay: 500ms * $i /3;
             } @else  {
                 animation-duration: 800ms;
             }
         }
     } 
 }

.card{
    &Cover{
        position: relative;
        height: 221px;
        z-index: -1;
        &__img{
            position: absolute;
            height: 275px;
            width: 100%;
            object-fit: cover;
        }
    }



    &Menu{
        z-index: 1;
        background-color: $cl_bg-purpose;
        border-radius:40px 40px 0px 0px;
        padding: 0px 13px;
        padding-bottom: 40px;
        max-width: 1055px;
        margin: auto;

        &__box {
            padding-top:40px;
            display: flex;
            justify-content: center;
            align-items: center;
            &Like{
                padding-left: 30px;
                &Anim{
                    @include ds_like;
                }
            }
        }

        &__choice{
            display: grid;
            row-gap: 12px;
            margin-top: 40px;
            &Dish {
                display: flex;
                border-radius: 15px;
                background-color: $cl_bkg-white;
                overflow: hidden;

                &:active > .cardMenu__choiceDishCheck{
                    width: 60px;
                }

                &Txt{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 1;
                    height: 60px;
                    padding-left: 15px;
                    overflow: hidden;

                    &Obs , &Title{
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }             
                }
            
                &Price{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-right: 15px;
                    height: 60px;
                    padding-left: 5px;
                }
            
                &Check{
                    display: flex;
                    align-items: center;
                    background-color: $clr-waterGreen;
                    color: white;
                    font-size: 20px;
                    width: 0px;
                    height: 60px;
                    transition: all 250ms ease-in-out;
                    &Icon {
                        width: 60px;
                        padding: 20px;
                    }
                }
                
             }
        }

        &__button{
            display: flex;
            justify-content: center;
            background-color: $cl_bg-purpose;
            height: 50px;
            width: 186px;
            margin: auto;
            margin-top: 40px;
            align-items: center;
            @include ds_button;
        }
    }
}