//typo main page (index.html
@mixin ds_txt-title {
    font-family: $ft-txt;
    font-size: $sz_ft-24px;
    font-weight: $wgt_ft-bold;
}

@mixin ds_txt-subTitle {
    font-family: $ft-txt;
    font-size: $sz_ft-18px;
    font-weight: $wgt_ft-bold;
}

@mixin ds_txt-howStep {
    font-family: $ft-txt;
    font-size: $sz_ft-16px;
    font-weight: $wgt_ft-medium;
}

//typo all page
@mixin ds_txt-var($font,$size,$weight){
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
}

//design system button
@mixin ds_button {
    height: 50px;
    border-radius: 25px;
    border-style: none;
    padding: 0 22px;
    color:$cl_txt-button;
    background: linear-gradient(to bottom right, $clr-pink, $clr-purple);
    box-shadow: $shadows;

    position: relative;
    z-index: 1;

    &:hover{
        cursor: pointer;
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background-color: rgba($color: white, $alpha: 0.1);
        border-radius: 25px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        box-shadow: $shadows_hover;
    }
}

@mixin ds_like {
    position: relative;
    z-index: 1;
    width: 23px;
    height: 21px;
    background-image: url(../assets/logo/Like.svg);
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        cursor: pointer;
        &::after{
           opacity: 1;
           z-index: 2;
        }
    }
    &::after{   
        content: "";
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        left:0;
        opacity: 0;
        z-index: -1;
        background-image: url(../assets/logo/Like_fill.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity 250ms;
    }
}
