//typo main page (index.html
@mixin ds_txt-title {
    font-family: $ft-txt;
    font-size: $sz_ft-24px;
    font-weight: $wgt_ft-bold;
}

@mixin ds_txt-subTitle {
    font-family: $ft-txt;
    font-size: $sz_ft-18px;
    font-weight: $wgt_ft-bold;
}

@mixin ds_txt-howStep {
    font-family: $ft-txt;
    font-size: $sz_ft-16px;
    font-weight: $wgt_ft-medium;
}

//typo all page
@mixin ds_txt-var($font,$size,$weight){
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
}

//design system button
@mixin ds_button {
    height: 50px;
    border-radius: 25px;
    border-style: none;
    padding: 0 22px;
    color:$cl_txt-button;
    background: linear-gradient(to bottom right, $clr-pink, $clr-purple);
    box-shadow: $shadows;
}
