//Header
.navbar{
    &__logo{
        @include ds_txt-var($ft-logo,$sz_ft-30px,$wgt_ft-regular);
    }
}
//Footer
.footer {
    &__title{
        @include ds_txt-var($ft-logo,$sz_ft-18px,$wgt_ft-regular);
    }
    &__box1 , &__box2{
        &Link{
            @include ds_txt-var($ft-txt,$sz_ft-16px,$wgt_ft-regular);
            &Icon{
                width: 12px;
                height: 13px;
            }
        }
        &Link--medTxt{
            font-weight: $wgt_ft-medium;
        }
    }

}

//Main page (index.html)
.location{
    &__city{
       @include ds_txt-var($ft-txt,$sz_ft-16px,$wgt_ft-medium);
    }
}

.purpose{
    &__title{
        @include ds_txt-title;
    }
    &__txt{
        @include ds_txt-var($ft-txt,$sz_ft-18px,$wgt_ft-light);
    }
    &__button{
        @include ds_txt-var($ft-txt,$sz_ft-16px,$wgt_ft-medium);
    }
}

.how{
    &__title{
        @include ds_txt-title;
    }
    &__box
        &Step {
            &Index{
                @include ds_txt-var($ft-txt,14.18px,$wgt_ft-medium);    
            }
            &Txt{
                @include ds_txt-howStep;
            }
        }
}

.restaurant {
    &__title{
        @include ds_txt-title;
    }
    &__boxShop{
        &Newtxt{
            @include ds_txt-var($ft-txt,$sz_ft-14px,$wgt_ft-medium);
        }
    }
    &__boxShopTxtTitle{
        @include ds_txt-subTitle;
    }
    &__boxShopTxt{
        @include ds_txt-var($ft-txt,$sz_ft-16px,$wgt_ft-light);
    }
}

//Restaurants page (rest_*.html)
.card{

    &Menu{

        &__box {
            &Title{
                @include ds_txt-var($ft-logo,$sz_ft-28px,$wgt_ft-regular); 
            }
        }

        &__choice{

            &Title{
                @include ds_txt-var($ft-txt,$sz_ft-16px,$wgt_ft-light);
            }

            &Dish{

                &Title{
                    @include ds_txt-var($ft-txt,$sz_ft-18px,$wgt_ft-medium); 
                }

                &Box{
                    &Obs{
                        @include ds_txt-var($ft-txt,$sz_ft-15px,$wgt_ft-light);
                    }

                    &Price {
                        @include ds_txt-var($ft-txt,$sz_ft-15px,$wgt_ft-bold);
                    }
                }

            }
        }

        &__button {
            @include ds_txt-var($ft-txt,$sz_ft-16px,$wgt_ft-medium);
        }
    }
}
