//Fonts design
$ft-logo: 'Shrikhand',sans-serif;
$ft-txt: 'Roboto',sans-serif;

$sz_ft-14px:0.875rem;
$sz_ft-15px:0.94rem;
$sz_ft-16px:1rem;
$sz_ft-18px:1.125rem;
$sz_ft-24px:1.5rem;
$sz_ft-28px:1.75rem;
$sz_ft-30px:1.875rem;

$wgt_ft-light: 300;
$wgt_ft-regular:400;
$wgt_ft-medium: 500;
$wgt_ft-bold:700;

//Color design
$clr-waterGreen: #99e2d0;
$clr-green: #008766;
$clr-skyBlue: #89C8FA;
$clr-darkBlue: #003A68;
$clr-purple: #9356dc;
$clr-pink: #ff79da;
$cl_txt-button: #ffffff;
$cl_bkg-txt_location: #EAEAEA;
$cl_bg-purpose: #F6F6F6;
$cl_bg-footer: #353535;
$cl_txt-footer:white;
$cl_bkg-white:white;
$cl_txt-default: black;

$shadows:0px 6px 15px rgba(0, 0, 0, 0.3);
$shadows-light:0px 6px 15px rgba(0, 0, 0, 0.2);
$shadows_hover:0px 6px 25px rgba(0, 0, 0, 0.1);