//Fonts design
$ft-logo: 'Shrikhand',sans-serif;
$ft-txt: 'Roboto',sans-serif;

$sz_ft-16px:1rem;
$sz_ft-18px:1.125rem;
$sz_ft-24px:1.5rem;
$sz_ft-30px:1.875rem;

$wgt_ft-light: 300;
$wgt_ft-regular:400;
$wgt_ft-medium: 500;
$wgt_ft-bold:700;

//Color design
$clr-waterGreen: #99e2d0;
$clr-green: #008766;
$clr-skyBlue: #89C8FA;
$clr-darkBlue: #003A68;
$clr-purple: #9356dc;